  {% extends "rhetoric/layout.html" %}
{% load staticfiles %}

{% block content %}
    <a href="/commentary" class="judgeyou-name">
      Go To Commentary
    </a>
    <div class="judgeyou-title">
        <img src="{% static 'img/judgeyou.png' %}">
        <img src="{% static 'img/judgeyou mascot.png' %}">
        <form id="getYoutubeUrl">
          <input type="text" name="param_1" placeholder="Enter youtube url here..">
        </form>
    </div>


    <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}